{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Details</title>
{% endblock %}

{% block content %}
{% for data in all_blogs %}
<div class="col-4" style="width: 16rem;">
    <div class="card" style="width: 16rem;">
        <img src="{% static 'blog/images/8562962_25552.jpg' %}" class="card-img-top" alt="My image">
        <div class="card-body">
          <h5 class="card-title">{{ data.title }}</h5>
          <p class="card-text">{{ data.content }}</p>
          <a href="#" class="btn btn-primary">{{ data.author }}</a>
          <small>{{ data.date }}</small>
        </div>
      </div>
</div>
{% endfor %}
{% endblock %}